/* CSS STYLESHEET */


/* * {
    border: 2px solid red;
} */

a {
    font-family: monospace, sans-serif;
}

.casserole_logo {
    max-width: 50%;
    height: auto;
    display: inline-block;
}

.odin_logo {
    max-width: 8%;
    height: auto;
}

h1 {
    margin-top: -30px;
    font-size: 35px;
    text-align: center;
    font-family: monospace, sans-serif;
}

h2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: monospace, sans-serif;
}

p {
    font-family: monospace, sans-serif;
}

ul li {
    font-family: monospace, sans-serif;
    margin-bottom: 10px;
}

ol li {
    font-family: monospace, sans-serif;
    margin-bottom: 15px;
}