/* CSS STYLESHEET */
 
/* * {
    border: 2px solid red;
} */

body {
    background-color: rgb(255, 255, 255);
}


.chef_logo {
    max-width: 50%;
    height: auto;
    color: rgb(0, 0, 0);
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 10px;
}


h1 {
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: monospace, sans-serif;
    font-weight: bolder;
    border-top: 20px;
    border-bottom: 20px;
}

h2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: monospace, sans-serif;
}

h3 {
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: monospace, sans-serif;;
}

ul {
    text-align: center;
}

li {
    font-family: monospace, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    display: inline;
    border: 2px;
    padding: 0.5em;
}